body {
    margin: 0;
}

h1 {
    font-size: 72px;
    color: #ffffff;
    text-align: center;
    background-color: #281b2d;
    padding: 20px 0;
    margin-top: 0;
}

.subheader {
    background-color: #281B2D;
    color: #FCD801;
    font-size: 48px;
    padding: 20px;
    border-bottom: 5px solid #00C54C;
    margin-top: 0;
}

/* header {
    color: #ffffff;
    text-align: center;
    background-color: #281b2d;
    padding: 25px;
}

h1 {
    font-size: 72px;
    margin: 0;
} */


.light-white { color: #fff }

.container {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}

.main-content {
    width: 65%;
    margin-right: 5%;
}

.columns {
    display: flex;
}

.sidebar {
    width: 30%;
    background: #9AE84F;
    box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.35), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.35);
    padding: 15px;
}

.sidebar p {
    font-size: 10px;
}

.col-right {
    margin-left: 25px;
}